<h1> <%= @professional.name %> </h1>
<%= link_to "Applications", applications_professional_path(@professional) %>
|
<%= link_to "Search Temp Jobs", temp_job_posts_professional_path(@professional) %>
|
<%= link_to "Booking Invites", invites_professional_path(@professional) %>
|
<%= link_to "Booking Proposals", proposals_professional_path(@professional) %>
